@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push the footer to the bottom */
  margin: 0;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  background: linear-gradient(120deg, #A683E3, #E4E9FD);
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
}

.container {
  flex: 1; /* Take up all available space between header and footer */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
  max-width: 800px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin-inline: auto; /* Center the container on the page */
  animation: fadeInUp 0.6s ease-in-out;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #8a3ab9;
  font-size: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.box {
  display: flex;
  flex-direction: column;
  /* align-items: center; Center the list items horizontally */
  flex: 1; /* Take up all available space within the container */
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.item:last-child {
  border-bottom: none;
}

input[type="checkbox"] {
  margin-right: 10px;
}

p {
  margin: 0;
  font-size: 18px;
  color: #333333;
  flex: 1;
}

form.item {
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  text-align: center;
  height: 50px;
  border: none;
  background: #f2f5f9;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: #8a3ab9;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f2f5f9;
  color: #999999;
}

/* Animations */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  
  .item {
    flex-direction: column;
    align-items: flex-start;
  }
  
  input[type="checkbox"] {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
}
